
[V200R003C00]
#
 sysname PNKW01
#
 board add 0/2 2SA 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface Serial2/0/0
 link-protocol ppp
 description PNKW01-POBS01
 ip add 10.11.0.46 30

#
interface Serial2/0/1
 link-protocol ppp
 description PNKW01-PEKSI01
 ip add 10.12.0.53 30
#
interface GigabitEthernet0/0/0
description PNKW01-PKFO01
ip add 10.11.0.58
#
interface GigabitEthernet0/0/1
description PKSI01-PNKW01
ip add 10.11.0.38 30
#
interface GigabitEthernet0/0/2
PNKW01-PEKFO01
ip add 10.12.0.57
#
interface NULL0
#
interface LoopBack0
ip address 172.21.0.8 255.255.255.255
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return